/*EXTERNAL STYLING*/
/*

	CSS Rules
	Selector {
		property: value;
	}

*/


/*Type Selector*/

h1 {
	color: green !important;
	text-align: center;
	font-size: 2rem;
}

* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}


/*ID Selector*/
#zuitt-motto {
	/*Letter spacing property chancges the spaces in between characters of a text*/
	letter-spacing: 5px;
}


/*Class Selector*/
.offering-item {
	/*text-transform propert changes font to a certain case*/
	text-transform: uppercase;
}

/*Attribute Selector*/
[required] {
	/*Thickness of the border*/
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

h3 {
	letter-spacing: 25px;
}

/*Selector Combinator*/

/*Adjacent Selector*/

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Child Selector*/ 
body > section > ol > li {
	color: #E0AE44;
}

/*General Sibling Selector*/

h2 ~ a {
	text-decoration: none;
}

/*Descendant Selector*/

#register label {
	color: rgb(0, 0, 128);
}

body {
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;
}


nav {
	background-color: yellow;
}

a:hover {
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}

section	{
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

h2 + form {
	text-align: center;
	background-color: white;
	position: relative;
	width: 25vw;
	height: 250px;
	border: 2px solid black;
	left: 37.5%;
}

button	{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}