* {
	font-family: "Arial", monospace;
	font-size: 20px;
}

#external {
	color: yellow;
}

h1 {
	font-size: 2rem;
}

#uppercase {
	text-transform: uppercase;
}

.languages {
	background-color: rgb(101, 161, 101);
}

li[target] {
	border-width: 2px;
	border-style: solid;
	border-color: lightblue;
}

#js-logo + ol {
	list-style-type: none;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

ol > .spacing {
	letter-spacing: 5px;	
}

h3 ~ #last_par {
	text-align: center;
}

